@import 'mixins'
@import 'reset'
@import 'media'
@import 'skeleton'
@import 'fonts'
@import 'animations'

body
  background-color: #424241
  min-height: 420px
  opacity: 0

  // post rendering all the templates on domready
  &.show
    opacity: 1

  // viewing a single loop
  &.viewing
    .container
      +respond-to(desktop)
        padding-bottom: 8px
      +respond-to(handheld)
        height: 460px !important
        max-height: 460px !important

    #loop
      #lighting, #current-totals, #expanded-views
        +transition-duration(0.15s)
        opacity: 1

      #current-totals, #expanded-views
        z-index: 3

      #amount
        +transition-duration(0.2s)
        +transition-delay(0.13s)
        +transform(translate3d(0,0,0))
        bottom: 0px

    #loop-graph
      opacity: 1

      > *
        opacity: 1

    #delete
      +transition-delay(0.2s)
      +transform(translate3d(0,0,0))

    #loop-buttons
      +transition-duration(0.2s)
      +transition-delay(0.13s)
      +transform(translate3d(0,0,0))
      bottom: 0px

  // 'Delete' or 'Save' operation on a loop
  &.menu
    #delete
      +transition-delay(0s)
      +transform(translate3d(250px,0,0))
      +respond-to(handheld)
        +transform(translate3d(100px,0,0))

    #loop-menu
      +transition-delay(0.2s)
      +transform(translate3d(0,0,0))

// cut off x-overflow w/ container
.container
  position: relative
  overflow-x: hidden
  overflow-y: hidden

  +respond-to(desktop)
    // TODO do a more precise media query
    min-height: 780px
  +respond-to(handheld)
    height: 460px
    max-height: 460px

.button
  +user-select(none)
  color: #BFBFBF
  cursor: pointer
  position: absolute
  top: 0
  text-shadow: 1px 1px 0px rgba(5,5,5,0.8)

  &:active
    color: lighten(#BFBFBF, 10%)
    background-color: rgba(50,50,50,0.4)
    text-shadow: inset -1px -1px 0px rgba(250,250,250,0.5) 

// bar at the top
#titlebar
  position: relative
  z-index: 2

  .button 
    +respond-to(desktop)
      font-size: 50px
      padding: 15px 50px
    +respond-to(handheld)
      font-size: 30px
      padding: 9px 20px

  #resume
    left: 0
    opacity: 0
    &.show
      opacity: 1

  #create
    right: 0
  
// loops title
h1.title
  color: #CFCFCD
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, sans-serif
  font-weight: 100
  display: block
  text-align: center
  text-shadow: 1px 1px 0px rgba(0,0,0,0.8)

  +respond-to(desktop)
    box-shadow: 0 -1px 10px rgba(240,240,240,0.24)
    font-size: 64px
    padding: 5px 0
  +respond-to(handheld)
    box-shadow: 0 -1px 1px rgba(240,240,240,0.54)
    font-size: 30px
    padding: 7px 0

// individual loop list items
#loops
  margin-bottom: 30px
  position: relative
  z-index: 2

  li
    +transition(none 0.3s ease-out)
    +translorm
    background-color: #363535
    box-shadow: inset 0 -1px 0px rgba(78, 76, 76, 0.6)
    color: #F9F9F9
    display: block
    font-family: "Open Sans Semibold"

    +respond-to(desktop)
      font-size: 18px
      padding-top: 33px
      padding-bottom: 33px
      padding-left: 40px
    +respond-to(handheld)
      font-size: 14px
      padding-top: 15px
      padding-bottom: 15px
      padding-left: 20px

    &.new-loop
      input
        +appearance(none)
        outline: none
        background-color: transparent
        border-color: transparent
        border-width: 0
        color: #F9F9F9
        font-size: inherit
        margin: 0
        margin-left: -1px
        padding: 0
        font-family: "Open Sans Semibold"

    &.delete
      +transition-duration(0.12s)
      +transition-properties(opacity)
      opacity: 0
      
// the individual loop
#loop
  +user-select(none)
  color: rgb(240,240,240)

  #lighting
    +transition(opacity 0.1s linear)
    background-color: #363535
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 0

  #amount
    +transition(none 0.2s ease-out)
    +translorm
    position: absolute
    bottom: 0
    left: 0
    text-align: center
    width: 100%
    font-family: "PT Sans"
    text-shadow: 0 none

    +respond-to(desktop)
      +transform(translate3d(0px,180px,0))
      font-size: 90px
      padding-bottom: 50px
    +respond-to(handheld)
      +transform(translate3d(0px,120px,0))
      font-size: 70px

  #current-totals
    +transition(opacity 0.1s linear)
    opacity: 0
    position: absolute
    width: 100%
    border-bottom: 1px solid #3D3D3D

    .current
      box-sizing: border-box
      display: inline-block
      font-size: 0
      text-align: center
      padding: 4px 0 16px

      +respond-to(desktop)
        width: 33%
      +respond-to(handheld)
        width: 32.6%  // =(

      &.active // when this is the current view showing
        span
          border-radius: 9px
          border: 1px solid #F2F2F2

      &:active
        background: black

      h3
        font-family: "PT Sans Bold"
        font-weight: normal
        text-shadow: 0px 0px 0 rgba(255,255,255,0.7)
        +respond-to(desktop)
          font-size: 60px
        +respond-to(handheld)
          font-size: 40px

      span
        font-family: "LatoLight"
        text-shadow: 0px 0px 0 rgba(255,255,255,0.7)
        font-weight: normal
        font-size: 13px

        &.active
          border: 1px solid rgba(237, 237, 236, 0.85)
          border-radius: 9px
          padding: 1px 4px

  #expanded-views
    +transition(opacity 0.2s linear)
    opacity: 0
    position: absolute
    left: 0
    width: 100%

    +respond-to(desktop)
      top: 210px
    +respond-to(handheld)
      top: 150px

    .view
      font-family: "LatoBold"
      cursor: pointer
      box-sizing: border-box
      padding: 20px 0
      display: inline-block
      text-align: center
      text-transform: uppercase
      width: 49%

      +respond-to(handheld)
        font-size: 14px

      &:active // FIXME
        background: black

// delete button on showing a loop
#delete
  +transition(none 0.15s)
  +translorm
  background-color: rgb(133, 87, 88)
  box-shadow: inset 1px 0 0 rgba(0,0,0,0.4)
  color: rgb(250,250,250)
  font-family: "LatoBlack"
  right: 0
  text-align: center
  text-transform: uppercase
  top: 0px
  z-index: 3

  +respond-to(desktop)
    +transform(translate3d(250px,0,0))
    font-size: 23px
    padding: 16px 0
    width: 120px
  +respond-to(handheld)
    +transform(translate3d(100px,0,0))
    font-size: 11px
    padding: 11px 0
    width: 60px

  &:active
    background-color: blue

// the duder at the top right Cancel & Save
#loop-menu
  +transition(none 0.17s)
  +translorm
  +transform(translate3d(303px,0,0))
  position: absolute
  top: 0
  right: 0px
  z-index: 3

  +respond-to(handheld)
    +transform(translate3d(151,0,0))

  .button
    box-shadow: inset 1px 0 0 rgba(0,0,0,0.4)
    display: inline-block
    font-family: "LatoBlack"
    font-size: 23px
    padding: 30px 15px
    position: relative
    text-align: center
    text-transform: uppercase
    width: 120px

    +respond-to(handheld)
      font-size: 11px
      padding: 18px 7px
      width: 60px

// the time series graph
svg#loop-graph
  +transition(opacity 0.2s linear)
  opacity: 0
  box-sizing: border-box
  position: absolute
  width: 100%

  +respond-to(desktop)
    height: 300px
    top: 200px
  +respond-to(handheld)
    height: 160px
    top: 170px

  > *
    +transition(opacity 0.2s linear)
    opacity: 0

  .tick
    font-family: "PT Sans"
    fill: #EDEDEC
    font-size: 12px
    text-anchor: middle

  .point
    fill: blue

// the dudes at the bottom, - the glowy gate and +
#loop-buttons
  +transition(none 0.2s ease-out)
  +translorm
  left: 0
  position: absolute
  width: 100%
  z-index: 3

  +respond-to(desktop)
    +transform(translate3d(0px,320px,0))
    bottom: -10px
  +respond-to(handheld)
    +transform(translate3d(0px,120px,0))
    bottom: 14px

  .button, #amount-space
    position: relative
    
  #amount-space
    +animate(10s)
    +animation-name(glow)
    +animation-repeat(infinite)
    border-left: 2px solid transparent
    border-right: 2px solid transparent
    border-top: 2px solid transparent
    box-shadow: inset 0 1px 0 rgba(250,250,250,0.13), 0 -1px 5px rgba(5,5,5,0.3)
    float: left
    margin-left: -1px
    width: 48%

    +respond-to(desktop)
      border-top-left-radius: 25px
      border-top-right-radius: 25px
      border-width: 3px
      padding-right: 8px
      padding-bottom: 150px
      font-size: 60px
    +respond-to(handheld)
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      padding-right: 2px
      vertical-align: middle
      padding-bottom: 5px
      font-size: 70px

  #add, #subtract
    font-family: "Open Sans Semibold"
    width: 25%
    color: rgb(39, 38, 38)
    text-shadow: 1px 1px 0 rgba(245,245,245,0.05)
    text-align: center
    position: relative
    padding: 0

    +respond-to(desktop)
      font-size: 80px
      margin-top: 46px
    +respond-to(handheld)
      font-size: 55px
      margin-top: 8px

  #add
    // background-color: rgb(104, 120, 97)
    float: right
    margin-left: -1px
  #subtract
    // background-color: rgb(91, 109, 124)
    float: left

// import and export buttons
#data-buttons
  +transition(none 0.3s ease-out)
  +translorm
  position: relative
  margin: 0 auto
  padding-bottom: 20px

  +respond-to(desktop)
    width: 410px
  +respond-to(handheld)
    width: 320px

  &.show
    .button
      display: inline-block

    #export
      display: inline-block

  #export
    display: none

  .button
    display: block
    font-family: "LatoBlack"
    letter-spacing: 1px
    margin: 0 auto
    position: relative
    text-align: center
    text-transform: uppercase

    +respond-to(desktop)
      font-size: 25px
      padding: 3px 0
      width: 203px
    +respond-to(handheld)
      font-size: 15px
      padding: 10px 0
      width: 157px

footer
  position: relative

  #theme-controls
    position: absolute
    right: 200px

// vim: fdm=indent fdn=2 fml=3 fdl=1
