!!! 5
%html
  -# {:manifest => 'app.manifest'}
  %head
    %meta{:charset => "utf-8"}
    %title Loops
    %meta{:name => "HandheldFriendly", :content => "True"}
    %meta{:name => "MobileOptimized", :content => "320"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content =>"black"}

    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "icon-hi19.png"}
    %link{:rel => 'stylesheet', :href => 'styles/stylesheet.css'}
    -# livereload
    :javascript
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  %body
    .container
      #install
        %h2 by matt sacks
        %p Select "Add to Home Screen"
        #arrow
          %svg{:height => "19px", :version => "1.1", :width => "17px", :xmlns => "http://www.w3.org/2000/svg"}
            %g
              %path{:d => "M3,0 C3,0 3,0 4,0 L13,0 C13,0 14,0 14,0 L14,10 L16,10 C17,10 17,10 17,11 L10,18 C9,19 8,19 7,18 L0,11 C0,10 0,10 1,10 L3,10 L3,0", :fill => "rgb(62,62,61)", :stroke => "rgb(142,142,141)", "stroke-width" => "1"}
              %path{:d => "", :fill => "rgb(72,72,71)", :stroke => "rgb(150,150,150)", "stroke-width" => "1"}

      #titlebar
        %h1.title.column loops
        #create.button +

      #delete.button Delete Loop
      #loop-menu
      %script{:id => "loop-menu-template", :type => "text/x-template"}
        :plain
          <div id="cancel" class="button">{{cancel}}</div>
          <div id="save" class="button">{{save}}</div>

      #loop
      %script{:id => "loop-detail-template", :type => "text/x-temmplate"}
        :plain
          <div id="lighting"></div>
          <div id="current-totals">
            {{#currents}}
              <div class="current">
                <h3>{{sum}}</h3>
                <span class="{{active}}">{{headline}}</span>
              </div>
            {{/currents}}
          </div>
          <table id="expanded-views">
            <tbody>
              <tr>
                {{#views}}
                  <td data-range="{{.}}" class="view {{active}}">{{rangeLabel}}</td>
                {{/views}}
              </tr>
            </tbody>
          </table>
          <div id="amount">{{amount}}</div>
      %svg#loop-graph
      #loop-buttons
        #subtract.button –
        #amount-space &nbsp;
        #add.button +

      %ul#loops
      %script{:id => "loop-template", :type => "text/x-template"}
        :plain
          {{#loops}}
            <li id="{{id}}" class="loop-item">
              <label>{{label}}</label>
            </li>
          {{/loops}}
      %script{:id => "loop-new-template", :type => "text/x-template"}
        :plain
          <li id="{{id}}" class="loop new-loop">
            <input placeholder="{{placeholder}}" class="new" />
          </li>

      #data-buttons
        #import.button Import
        #export.button Export

      #additional
        .link
          built on
          %a#music good music
        .link
          created by
          %a#author{:href => 'http://sacks.io'} matt sacks

    %script{:src => 'js/lib/zepto.min.js'}=""
    %script{:src => 'js/lib/underscore-min.js'}=""
    %script{:src => 'js/lib/backbone-min.js'}=""
    %script{:src => 'js/lib/backbone-localstorage.js'}=""
    %script{:src => 'js/lib/mustache.js'}=""
    %script{:src => 'js/lib/moment.min.js'}=""
    %script{:src => 'js/lib/d3.v2.min.js'}=""

    %script{:src => 'js/session.js'}=""
    %script{:src => 'js/loop.js'}=""
    %script{:src => 'js/loopsView.js'}=""
    %script{:src => 'js/loopView.js'}=""
    %script{:src => 'js/graph.js'}=""
    %script{:src => 'js/music.js'}=""
    %script{:src => 'js/index.js'}=""
