!!! 5
%html
  -#{:manifest => 'app.manifest'}
  %head
    %meta{:charset => "utf-8"}
    %title Loops
    %meta{:name => "HandheldFriendly", :content => "True"}
    %meta{:name => "MobileOptimized", :content => "320"}
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content =>"black"}

    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "icon-hi9/icon-hi9@2x.png"}
    %link{:rel => 'shortcut icon', :href => 'favicon-hi.ico', :type => 'images/x-icon'}
    %link{:rel => 'stylesheet', :href => 'styles/stylesheet.css'}
    -# livereload
    :javascript
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  %body
    .container
      #titlebar
        #resume.button r
        %h1.title.column loops
        #create.button +

      #delete.button Delete Loop
      #loop-menu
      %script{:id => "loop-menu-template", :type => "text/x-template"}
        :plain
          <div id="cancel" class="button">{{cancel}}</div>
          <div id="save" class="button">{{save}}</div>

      #loop
      %script{:id => "loop-detail-template", :type => "text/x-temmplate"}
        :plain
          <div id="lighting"></div>
          <div id="current-totals">
            {{#currents}}
              <div class="current">
                <h3>{{sum}}</h3>
                <span>{{headline}}</span>
              </div>
            {{/currents}}
          </div>
          <div id="amount">{{amount}}</div>
      #loop-buttons
        #subtract.button –
        #amount-space &nbsp;
        #add.button +
          
      %ul#loops
      %script{:id => "loop-template", :type => "text/x-template"}
        :plain
          {{#loops}}
            <li id="{{id}}" class="loop-item">
              <label>{{label}}</label>
            </li>
          {{/loops}}
      %script{:id => "loop-new-template", :type => "text/x-template"}
        :plain
          <li id="{{id}}" class="loop new-loop">
            <input placeholder="{{placeholder}}" class="new" />
          </li>

      #data-buttons
        #import.button Import
        #export.button Export

    %script{:src => 'js/lib/zepto.min.js'}=""
    %script{:src => 'js/lib/underscore-min.js'}=""
    %script{:src => 'js/lib/backbone-min.js'}=""
    %script{:src => 'js/lib/backbone-localstorage.js'}=""
    %script{:src => 'js/lib/mustache.js'}=""
    %script{:src => 'js/lib/moment.min.js'}=""

    %script{:src => 'js/session.js'}=""
    %script{:src => 'js/loop.js'}=""
    %script{:src => 'js/loopsView.js'}=""
    %script{:src => 'js/loopView.js'}=""
    %script{:src => 'js/index.js'}=""
