=transition($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition

=remove-tap-highlight()
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important
