=transition($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition

=remove-tap-highlight()
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important

=user-select($color) 
  -webkit-user-select: $color
  -moz-user-select: $color
  -ms-user-select: $color
  -o-user-select: $color
  user-select: $color
