@import '_mixins'
@import '_reset'
@import '_media'
@import '_skeleton'
@import '_fonts'

body
  +transition(background-color 0.3s ease-out)
  background-color: #424241
  min-height: 420px
  opacity: 0

  &.show
    opacity: 1
  &.viewing
    background-color: #363535

.button
  +user-select(none)
  color: #BFBFBF
  cursor: pointer
  position: absolute
  top: 0
  text-shadow: 1px 1px 0px rgba(5,5,5,0.8)

  &:active
    color: lighten(#BFBFBF, 10%)
    background-color: rgba(50,50,50,0.4)
    text-shadow: inset -1px -1px 0px rgba(250,250,250,0.5) 

#titlebar
  position: relative

  .button 
    +respond-to(desktop)
      font-size: 50px
      padding: 15px 50px
    +respond-to(handheld)
      font-size: 30px
      padding: 9px 20px

  #resume
    left: 0
    opacity: 0
    &.show
      opacity: 1

  #create
    right: 0
  
h1.title
  color: #CFCFCD
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, sans-serif
  font-weight: 100
  display: block
  text-align: center
  text-shadow: 1px 1px 0px rgba(0,0,0,0.8)

  +respond-to(desktop)
    box-shadow: 0 -1px 10px rgba(240,240,240,0.24)
    font-size: 64px
    padding: 5px 0
  +respond-to(handheld)
    box-shadow: 0 -1px 1px rgba(240,240,240,0.54)
    font-size: 30px
    padding: 7px 0

#loops
  margin-bottom: 30px

  li
    -webkit-transition: -webkit-transform 0.3s ease-out
    background-color: #363535
    box-shadow: inset 0 -1px 0px rgba(78, 76, 76, 0.6)
    color: #F9F9F9
    display: block
    font-family: "Open Sans Semibold"

    +respond-to(desktop)
      font-size: 18px
      padding-top: 33px
      padding-bottom: 33px
      padding-left: 40px
    +respond-to(handheld)
      font-size: 14px
      padding-top: 15px
      padding-bottom: 15px
      padding-left: 20px

#data-buttons
  -webkit-transition: -webkit-transform 0.3s ease-out
  position: relative
  margin: 0 auto

  +respond-to(desktop)
    width: 410px
  +respond-to(handheld)
    width: 320px

  &.show
    .button
      display: inline-block

    #export
      display: inline-block

  #export
    display: none

  .button
    display: block
    font-family: "LatoBlack"
    letter-spacing: 1px
    margin: 0 auto
    position: relative
    text-align: center
    text-transform: uppercase

    +respond-to(desktop)
      font-size: 25px
      padding: 3px 0
      width: 203px
    +respond-to(handheld)
      font-size: 15px
      padding: 10px 0
      width: 157px

footer
  position: relative

  #theme-controls
    position: absolute
    right: 200px
