@import '_mixins'
@import '_reset'
@import '_media'
@import '_skeleton'
@import '_fonts'

body
  +transition(background-color 0.3s ease-out)
  background-color: #424241
  min-height: 420px
  opacity: 0

  &.show
    opacity: 1
  &.viewing
    background-color: #363535

.button
  color: #C6C2C2
  cursor: pointer
  position: absolute
  top: 0
  text-shadow: -1px -1px 0px rgba(255,255,255,0.8)

  &:active
    color: darken(#C6C2C2, 10%)
    box-shadow: inset 0 0 0 rgba(10,10,10,0.8)
    text-shadow: inset -1px -1px 0px rgba(5,5,5,0.5) 

#titlebar
  position: relative

  .button 
    +respond-to(desktop)
      font-size: 50px
      padding: 15px 50px
    +respond-to(handheld)
      font-size: 30px
      padding: 9px 20px

  #resume
    left: 0
    opacity: 0
    &.show
      opacity: 1

  #create
    right: 0
  
h1.title
  color: #CFCFCD
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, sans-serif
  font-weight: 100
  display: block
  text-align: center
  text-shadow: 1px 1px 0px rgba(0,0,0,0.8)

  +respond-to(desktop)
    box-shadow: 0 -1px 10px rgba(240,240,240,0.24)
    font-size: 64px
    padding: 5px 0
  +respond-to(handheld)
    box-shadow: 0 -1px 1px rgba(240,240,240,0.54)
    font-size: 30px
    padding: 7px 0

#loops

  li
    -webkit-transition: -webkit-transform 0.3s ease-out
    background-color: #363535
    box-shadow: inset 0 -1px 0px rgba(78, 76, 76, 0.6)
    color: #F9F9F9
    display: block
    font-family: "Open Sans Semibold"

    +respond-to(desktop)
      font-size: 18px
      padding-top: 33px
      padding-bottom: 33px
      padding-left: 40px
    +respond-to(handheld)
      font-size: 14px
      padding-top: 15px
      padding-bottom: 15px
      padding-left: 20px

footer
  position: relative

  #theme-controls
    position: absolute
    right: 200px
