body:after {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body:after {
    content: "handheld";
  }
}
@media only screen and (min-width: 600px) {
  body:after {
    content: "tablet";
  }
}
@media only screen and (min-width: 768px) {
  body:after {
    content: "tablet-large";
  }
}
@media only screen and (min-width: 600px) {
  body:after {
    content: "desktop";
  }
}
@media only screen and (min-width: 600px) {
  body:after {
    content: "desktop-large";
  }
}

body, h1, h2, h3, h4, h5, ul {
  margin: 0;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.clear {
  clear: both;
}

@font-face {
  font-family: "LatoLight";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LatoHairline";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/Lato-Hairline.ttf") format("truetype");
}

@font-face {
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBla";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Bla"), local("Lato-Bla"), url("../fonts/Lato-Bla.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Caption Regular"), local("PTSansCaption-Regular"), url("../fonts/PT_Sans-Caption-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Caption Bold"), local("PTSansCaption-Bold"), url("../fonts/PT_Sans-Caption-Bold.ttf") format("truetype");
}

@-webkit-keyframes glow {
  0% {
    border-color: rgba(177, 89, 89, 0.75);
  }

  10% {
    border-color: rgba(177, 141, 89, 0.75);
  }

  20% {
    border-color: rgba(159, 177, 89, 0.75);
  }

  30% {
    border-color: rgba(106, 177, 89, 0.75);
  }

  40% {
    border-color: rgba(89, 177, 124, 0.75);
  }

  50% {
    border-color: rgba(89, 177, 177, 0.75);
  }

  60% {
    border-color: rgba(89, 124, 177, 0.75);
  }

  70% {
    border-color: rgba(106, 89, 177, 0.75);
  }

  80% {
    border-color: rgba(159, 89, 177, 0.75);
  }

  90% {
    border-color: rgba(177, 89, 141, 0.75);
  }

  100% {
    border-color: rgba(177, 89, 89, 0.75);
  }
}

@-moz-keyframes glow {
  0% {
    border-color: rgba(177, 89, 89, 0.75);
  }

  10% {
    border-color: rgba(177, 141, 89, 0.75);
  }

  20% {
    border-color: rgba(159, 177, 89, 0.75);
  }

  30% {
    border-color: rgba(106, 177, 89, 0.75);
  }

  40% {
    border-color: rgba(89, 177, 124, 0.75);
  }

  50% {
    border-color: rgba(89, 177, 177, 0.75);
  }

  60% {
    border-color: rgba(89, 124, 177, 0.75);
  }

  70% {
    border-color: rgba(106, 89, 177, 0.75);
  }

  80% {
    border-color: rgba(159, 89, 177, 0.75);
  }

  90% {
    border-color: rgba(177, 89, 141, 0.75);
  }

  100% {
    border-color: rgba(177, 89, 89, 0.75);
  }
}

@-ms-keyframes glow {
  0% {
    border-color: rgba(177, 89, 89, 0.75);
  }

  10% {
    border-color: rgba(177, 141, 89, 0.75);
  }

  20% {
    border-color: rgba(159, 177, 89, 0.75);
  }

  30% {
    border-color: rgba(106, 177, 89, 0.75);
  }

  40% {
    border-color: rgba(89, 177, 124, 0.75);
  }

  50% {
    border-color: rgba(89, 177, 177, 0.75);
  }

  60% {
    border-color: rgba(89, 124, 177, 0.75);
  }

  70% {
    border-color: rgba(106, 89, 177, 0.75);
  }

  80% {
    border-color: rgba(159, 89, 177, 0.75);
  }

  90% {
    border-color: rgba(177, 89, 141, 0.75);
  }

  100% {
    border-color: rgba(177, 89, 89, 0.75);
  }
}

@-o-keyframes glow {
  0% {
    border-color: rgba(177, 89, 89, 0.75);
  }

  10% {
    border-color: rgba(177, 141, 89, 0.75);
  }

  20% {
    border-color: rgba(159, 177, 89, 0.75);
  }

  30% {
    border-color: rgba(106, 177, 89, 0.75);
  }

  40% {
    border-color: rgba(89, 177, 124, 0.75);
  }

  50% {
    border-color: rgba(89, 177, 177, 0.75);
  }

  60% {
    border-color: rgba(89, 124, 177, 0.75);
  }

  70% {
    border-color: rgba(106, 89, 177, 0.75);
  }

  80% {
    border-color: rgba(159, 89, 177, 0.75);
  }

  90% {
    border-color: rgba(177, 89, 141, 0.75);
  }

  100% {
    border-color: rgba(177, 89, 89, 0.75);
  }
}

@keyframes glow {
  0% {
    border-color: rgba(177, 89, 89, 0.75);
  }

  10% {
    border-color: rgba(177, 141, 89, 0.75);
  }

  20% {
    border-color: rgba(159, 177, 89, 0.75);
  }

  30% {
    border-color: rgba(106, 177, 89, 0.75);
  }

  40% {
    border-color: rgba(89, 177, 124, 0.75);
  }

  50% {
    border-color: rgba(89, 177, 177, 0.75);
  }

  60% {
    border-color: rgba(89, 124, 177, 0.75);
  }

  70% {
    border-color: rgba(106, 89, 177, 0.75);
  }

  80% {
    border-color: rgba(159, 89, 177, 0.75);
  }

  90% {
    border-color: rgba(177, 89, 141, 0.75);
  }

  100% {
    border-color: rgba(177, 89, 89, 0.75);
  }
}

html, body {
  height: 100%;
}

body {
  background-color: #424241;
  opacity: 0;
}
body.to-install, body.to-install .container {
  height: 100%;
  overflow: hidden;
}
body.to-install .container > * {
  opacity: 0;
}
body.to-install #install {
  display: block;
  opacity: 1;
}
body.to-install .author {
  display: block;
}
body.to-install #titlebar {
  opacity: 1;
}
body.to-install #titlebar #create {
  opacity: 0;
}
body.show {
  opacity: 1;
}
@media only screen and (min-width: 600px) {
  body.viewing .container {
    padding-bottom: 8px;
  }
}
body.viewing .title.column {
  opacity: 0;
}
body.viewing #loops {
  margin-bottom: 0;
}
body.viewing #loop #lighting, body.viewing #loop #current-totals, body.viewing #loop #expanded-views {
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  opacity: 1;
}
body.viewing #loop #current-totals, body.viewing #loop #expanded-views {
  z-index: 3;
}
body.viewing #loop #amount {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.13s;
  -moz-transition-delay: 0.13s;
  -ms-transition-delay: 0.13s;
  -o-transition-delay: 0.13s;
  transition-delay: 0.13s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  bottom: 0px;
}
body.viewing #loop-graph {
  opacity: 1;
}
body.viewing #loop-graph > * {
  opacity: 1;
}
body.viewing #delete {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body.viewing #loop-buttons {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.13s;
  -moz-transition-delay: 0.13s;
  -ms-transition-delay: 0.13s;
  -o-transition-delay: 0.13s;
  transition-delay: 0.13s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  bottom: 0px;
  z-index: 4;
}
body.menu #delete {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body.menu #delete {
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -o-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
}
body.menu #loop-menu {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.container {
  -webkit-transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -ms-transition: height 0.1s linear;
  -o-transition: height 0.1s linear;
  transition: height 0.1s linear;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #bfbfbf;
  cursor: pointer;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px 0px rgba(5, 5, 5, 0.8);
}
.button:active {
  color: #d9d9d9;
  background-color: rgba(50, 50, 50, 0.4);
  text-shadow: inset -1px -1px 0px rgba(250, 250, 250, 0.5);
}

#install {
  bottom: 20px;
  color: #717170;
  display: none;
  font-family: "LatoBla";
  font-weight: normal;
  position: absolute;
  text-align: center;
  width: 100%;
}
#install #arrow {
  margin-top: 20px;
}

#titlebar {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 600px) {
  #titlebar .button {
    font-size: 50px;
    padding: 15px 50px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #titlebar .button {
    font-size: 30px;
    padding: 9px 20px;
  }
}
#titlebar #resume {
  left: 0;
  opacity: 0;
}
#titlebar #resume.show {
  opacity: 1;
}
#titlebar #create {
  right: 0;
}

h1.title {
  -webkit-transition: opacity 0.05s ease-in-out;
  -moz-transition: opacity 0.05s ease-in-out;
  -ms-transition: opacity 0.05s ease-in-out;
  -o-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  color: #cfcfcd;
  display: block;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  opacity: 1;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 600px) {
  h1.title {
    box-shadow: 0 -1px 10px rgba(240, 240, 240, 0.24);
    font-size: 64px;
    padding: 5px 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1.title {
    box-shadow: 0 -1px 1px rgba(240, 240, 240, 0.54);
    font-size: 30px;
    padding: 7px 0;
  }
}

.author {
  display: none;
  font-family: "LatoBla";
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  margin-bottom: 200px;
}
.author, .author a {
  color: #717170;
}
.author a {
  text-decoration: none;
}

#loops {
  -webkit-transition: none 0.3s ease-out;
  -moz-transition: none 0.3s ease-out;
  -ms-transition: none 0.3s ease-out;
  -o-transition: none 0.3s ease-out;
  transition: none 0.3s ease-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 600px) {
  #loops {
    margin-bottom: 80px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loops {
    margin-bottom: 30px;
  }
}
#loops li {
  -webkit-transition: none 0.3s ease-out;
  -moz-transition: none 0.3s ease-out;
  -ms-transition: none 0.3s ease-out;
  -o-transition: none 0.3s ease-out;
  transition: none 0.3s ease-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  background-color: #363535;
  box-shadow: inset 0 -1px 0px rgba(78, 76, 76, 0.6);
  color: #f9f9f9;
  display: block;
  font-family: "Open Sans Semibold";
}
@media only screen and (min-width: 600px) {
  #loops li {
    font-size: 18px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 40px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loops li {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
}
#loops li.new-loop input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  color: #f9f9f9;
  font-size: inherit;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  font-family: "Open Sans Semibold";
}
#loops li.delete {
  -webkit-transition-duration: 0.12s;
  -moz-transition-duration: 0.12s;
  -ms-transition-duration: 0.12s;
  -o-transition-duration: 0.12s;
  transition-duration: 0.12s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: 0;
}

#loop {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #f0f0f0;
}
#loop #lighting {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  background-color: #363535;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
#loop #amount {
  -webkit-transition: none 0.2s ease-out;
  -moz-transition: none 0.2s ease-out;
  -ms-transition: none 0.2s ease-out;
  -o-transition: none 0.2s ease-out;
  transition: none 0.2s ease-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  bottom: 0;
  font-family: "PT Sans";
  left: 0;
  position: absolute;
  display: block;
  text-align: center;
  text-shadow: 0 none;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  #loop #amount {
    -webkit-transform: translate3d(0px, 180px, 0);
    -moz-transform: translate3d(0px, 180px, 0);
    -ms-transform: translate3d(0px, 180px, 0);
    -o-transform: translate3d(0px, 180px, 0);
    transform: translate3d(0px, 180px, 0);
    font-size: 90px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #amount {
    -webkit-transform: translate3d(0px, 120px, 0);
    -moz-transform: translate3d(0px, 120px, 0);
    -ms-transform: translate3d(0px, 120px, 0);
    -o-transform: translate3d(0px, 120px, 0);
    transform: translate3d(0px, 120px, 0);
    font-size: 70px;
  }
}
#loop #amount input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
  border-color: transparent;
  border-width: 0;
  color: #f9f9f9;
  font-family: "PT Sans";
  font-size: inherit;
  outline: none;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  #loop #amount input {
    bottom: -2px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #amount input {
    bottom: -20px;
    width: 50%;
  }
  #loop #amount input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
}
#loop #current-totals {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  border-bottom: 1px solid #3d3d3d;
  opacity: 0;
  position: absolute;
  top: 52px;
  width: 100%;
}
#loop #current-totals .current {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  padding: 4px 0 16px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  #loop #current-totals .current {
    cursor: pointer;
    width: 33%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #current-totals .current {
    width: 32.6%;
  }
}
#loop #current-totals .current.active span {
  border: 1px solid #f2f2f2;
  border-radius: 9px;
}
#loop #current-totals .current:active {
  background-image: -o-linear-gradient(-90deg, #323131 0%, #363535 100%);
  background-image: -moz-linear-gradient(-90deg, #323131 0%, #363535 100%);
  background-image: -webkit-linear-gradient(-90deg, #323131 0%, #363535 100%);
  background-image: -ms-linear-gradient(-90deg, #323131 0%, #363535 100%);
  background-image: linear-gradient(-90deg, #323131 0%, #363535 100%);
}
#loop #current-totals .current h3 {
  font-family: "PT Sans Bold";
  font-weight: normal;
  text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 600px) {
  #loop #current-totals .current h3 {
    font-size: 60px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #current-totals .current h3 {
    font-size: 40px;
  }
}
#loop #current-totals .current span {
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 600px) {
  #loop #current-totals .current span {
    font-family: "Lato";
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #current-totals .current span {
    font-family: "LatoLight";
  }
}
#loop #current-totals .current span.active {
  border-radius: 9px;
  border-style: solid;
  padding: 1px 4px;
  border-color: rgba(252, 252, 252, 0.85);
}
@media only screen and (min-width: 600px) {
  #loop #current-totals .current span.active {
    border-width: 1px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #current-totals .current span.active {
    border-color: rgba(237, 237, 236, 0.85);
    border-width: 1px;
  }
}
#loop #expanded-views {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  left: 0;
  opacity: 0;
  position: absolute;
  table-layout: fixed;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  #loop #expanded-views {
    top: 200px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #expanded-views {
    top: 138px;
  }
}
#loop #expanded-views .view {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #acacab;
  cursor: pointer;
  font-family: "LatoRegular";
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop #expanded-views .view {
    font-size: 14px;
  }
}
#loop #expanded-views .view.active {
  color: #f2f2f1;
}
#loop #expanded-views .view:active {
  background-color: rgba(61, 61, 60, 0.4);
}

#delete {
  -webkit-transition: none 0.15s;
  -moz-transition: none 0.15s;
  -ms-transition: none 0.15s;
  -o-transition: none 0.15s;
  transition: none 0.15s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  background-color: #855758;
  box-shadow: inset 1px -1px 0 rgba(18, 18, 18, 0.2);
  color: #fafafa;
  font-family: "LatoBla";
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  z-index: 3;
}
@media only screen and (min-width: 600px) {
  #delete {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    font-size: 23px;
    padding: 16px 0;
    width: 120px;
  }
  #delete:active {
    background-color: rgba(133, 87, 88, 0.8);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #delete {
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    -ms-transform: translate3d(100px, 0, 0);
    -o-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    font-size: 11px;
    padding: 11px 0;
    width: 60px;
  }
  #delete:active {
    background-color: #8a5d5e;
  }
}

#loop-menu {
  -webkit-transition: none 0.17s;
  -moz-transition: none 0.17s;
  -ms-transition: none 0.17s;
  -o-transition: none 0.17s;
  transition: none 0.17s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: translate3d(303px, 0, 0);
  -moz-transform: translate3d(303px, 0, 0);
  -ms-transform: translate3d(303px, 0, 0);
  -o-transform: translate3d(303px, 0, 0);
  transform: translate3d(303px, 0, 0);
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 3;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop-menu {
    -webkit-transform: translate3d(151, 0, 0);
    -moz-transform: translate3d(151, 0, 0);
    -ms-transform: translate3d(151, 0, 0);
    -o-transform: translate3d(151, 0, 0);
    transform: translate3d(151, 0, 0);
  }
}
#loop-menu .button {
  box-shadow: inset 1px 0 0 rgba(18, 18, 18, 0.4);
  display: inline-block;
  font-family: "LatoBla";
  font-size: 23px;
  padding: 30px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop-menu .button {
    font-size: 11px;
    padding: 18px 7px;
    width: 60px;
  }
  #loop-menu .button:active {
    background-color: rgba(61, 61, 60, 0.8);
  }
}

#loop {
  height: 100%;
}

#loop-graph {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  bottom: 100px;
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 250px;
}
#loop-graph > * {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  opacity: 0;
}
#loop-graph .tick {
  font-family: "PT Sans";
  fill: #ededec;
  text-anchor: middle;
}
@media only screen and (min-width: 600px) {
  #loop-graph .tick {
    font-size: 12px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop-graph .tick {
    font-size: 9px;
  }
}
#loop-graph path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 2px;
}
#loop-graph .point {
  fill: #969696;
  stroke: #707070;
  stroke-width: 2px;
}
#loop-graph .ruler {
  stroke: #555555;
  stroke-opacity: 0.3;
}
#loop-graph rect {
  fill: #535151;
}
#loop-graph .yTicks text {
  text-anchor: start;
}

#loop-buttons {
  -webkit-transition: none 0.2s ease-out;
  -moz-transition: none 0.2s ease-out;
  -ms-transition: none 0.2s ease-out;
  -o-transition: none 0.2s ease-out;
  transition: none 0.2s ease-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  left: 0;
  position: absolute;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  #loop-buttons {
    -webkit-transform: translate3d(0px, 320px, 0);
    -moz-transform: translate3d(0px, 320px, 0);
    -ms-transform: translate3d(0px, 320px, 0);
    -o-transform: translate3d(0px, 320px, 0);
    transform: translate3d(0px, 320px, 0);
    bottom: -10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop-buttons {
    -webkit-transform: translate3d(0px, 120px, 0);
    -moz-transform: translate3d(0px, 120px, 0);
    -ms-transform: translate3d(0px, 120px, 0);
    -o-transform: translate3d(0px, 120px, 0);
    transform: translate3d(0px, 120px, 0);
    bottom: 14px;
  }
}
#loop-buttons .button, #loop-buttons #amount-space {
  position: relative;
}
#loop-buttons #amount-space {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: glow;
  -moz-animation-name: glow;
  -ms-animation-name: glow;
  -o-animation-name: glow;
  animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.13), 0 -1px 5px rgba(5, 5, 5, 0.3);
  float: left;
  margin-left: -1px;
  width: 48%;
  z-index: -1;
}
@media only screen and (min-width: 600px) {
  #loop-buttons #amount-space {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-width: 3px;
    padding-right: 8px;
    padding-bottom: 150px;
    font-size: 60px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop-buttons #amount-space {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-right: 2px;
    vertical-align: middle;
    padding-bottom: 5px;
    font-size: 70px;
  }
}
#loop-buttons #add, #loop-buttons #subtract {
  font-family: "Open Sans Semibold";
  width: 25%;
  color: #272626;
  text-shadow: 1px 1px 0 rgba(245, 245, 245, 0.05);
  text-align: center;
  position: relative;
  padding: 0;
}
@media only screen and (min-width: 600px) {
  #loop-buttons #add, #loop-buttons #subtract {
    font-size: 80px;
    padding-top: 46px;
    padding-bottom: 23px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loop-buttons #add, #loop-buttons #subtract {
    font-size: 55px;
    padding-top: 8px;
    padding-bottom: 4px;
  }
}
#loop-buttons #add {
  float: right;
  margin-left: -1px;
}
#loop-buttons #subtract {
  float: left;
}

#data-buttons {
  -webkit-transition: none 0.3s ease-out;
  -moz-transition: none 0.3s ease-out;
  -ms-transition: none 0.3s ease-out;
  -o-transition: none 0.3s ease-out;
  transition: none 0.3s ease-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  display: none;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  #data-buttons {
    width: 410px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #data-buttons {
    width: 320px;
  }
}
#data-buttons.show .button {
  display: inline-block;
}
#data-buttons.show #export {
  display: inline-block;
}
#data-buttons #export {
  display: none;
}
#data-buttons .button {
  display: block;
  font-family: "LatoBla";
  letter-spacing: 1px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 600px) {
  #data-buttons .button {
    font-size: 25px;
    padding: 3px 0;
    width: 203px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #data-buttons .button {
    font-size: 15px;
    padding: 10px 0;
    width: 157px;
  }
}
