body, h1, h2, h3, h4, h5, ul {
  margin: 0; }

ul {
  margin-left: 0;
  padding-left: 0; }

body:after {
  display: none; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body:after {
      content: "handheld"; } }
  @media only screen and (min-width: 600px) {
    body:after {
      content: "tablet"; } }
  @media only screen and (min-width: 768px) {
    body:after {
      content: "tablet-large"; } }
  @media only screen and (min-width: 1224px) {
    body:after {
      content: "desktop"; } }
  @media only screen and (min-width: 1824px) {
    body:after {
      content: "desktop-large"; } }

.clear:after {
  content: "";
  clear: both;
  display: table-cell; }

@font-face {
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "LatoBold";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "LatoBlack";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"); }

body {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: #424241;
  min-height: 420px;
  opacity: 0; }
  body.show {
    opacity: 1; }
  body.viewing {
    background-color: #363535; }

.button {
  color: #c6c2c2;
  cursor: pointer;
  position: absolute;
  top: 0;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.8); }
  .button:active {
    color: #ada8a8;
    box-shadow: inset 0 0 0 rgba(10, 10, 10, 0.8);
    text-shadow: inset -1px -1px 0px rgba(5, 5, 5, 0.5); }

#titlebar {
  position: relative; }
  @media only screen and (min-width: 1224px) {
    #titlebar .button {
      font-size: 50px;
      padding: 15px 50px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #titlebar .button {
      font-size: 30px;
      padding: 9px 20px; } }
  #titlebar #resume {
    left: 0;
    opacity: 0; }
    #titlebar #resume.show {
      opacity: 1; }
  #titlebar #create {
    right: 0; }

h1.title {
  color: #cfcfcd;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  display: block;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); }
  @media only screen and (min-width: 1224px) {
    h1.title {
      box-shadow: 0 -1px 10px rgba(240, 240, 240, 0.24);
      font-size: 64px;
      padding: 5px 0; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    h1.title {
      box-shadow: 0 -1px 1px rgba(240, 240, 240, 0.54);
      font-size: 30px;
      padding: 7px 0; } }

#loops li {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  background-color: #363535;
  box-shadow: inset 0 -1px 0px rgba(78, 76, 76, 0.6);
  color: #f9f9f9;
  display: block;
  font-family: "Open Sans Semibold"; }
  @media only screen and (min-width: 1224px) {
    #loops li {
      font-size: 18px;
      padding-top: 33px;
      padding-bottom: 33px;
      padding-left: 40px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #loops li {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px; } }

footer {
  position: relative; }
  footer #theme-controls {
    position: absolute;
    right: 200px; }
